.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.leftBox,
.rightBox {
    background-color:floralwhite;
}

.meme {
    height: 80vh;
    width: auto;
    position: relative;
}

.topTxt {
    top: 0;
}

.bottomTxt {
    bottom: 0;
}

h2 {
    position: absolute; 
    left: 0;
    right: 0; 
    text-align: center;
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact;
    font-size: 3vw;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 34vw;
    max-width: 34vw;
    height: 80vh;
}

.form {
    text-align: center;
    margin-top: 1vh;
}

.button {
    background-color: floralwhite;
    border-radius: 20%;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

