
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 2vw;
    display: flex;
    align-items: center;
    width: fit-content;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

img {
    width: 3.5vw;
    height: 4rem;
}

a.active {
    background-color:lightpink;
}

a:hover {
    background-color: #777;
}